// Fonts
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab|Open+Sans);
@font-family:'Open Sans',sans-serif;
@heading-font-family:'Roboto Slab',sans-serif;

// Main
@font-size: 16px;
@line-height: 1.3em;
@margin-bottom: @font-size;
@color: #333;
@background-color: #FFF;
@border-color: #CCC;

// Background-colors
@background-color-warning: #FFE60E;

// Heading
@heading-font-weight:normal;
@heading-h5-h6-font-weight:bold;
@headings-color: #111;

// types
@small-font-size: 0.7 * @font-size;
@blockquote-font-size: 1.4 * @font-size;
@blockquote-font-style: italic;
@blockquote-border-left: 5px solid #DDD;
@blockquote-color: lighten(@color, 25%);

// Link
@a-color: #02AD00;
@a-text-decoration: none;
@a-hover-color: lighten(@a-color, 5%);
@a-hover-text-decoration: underline;
@a-disabled-color: desaturate(lighten(@a-color, 30%), 80%);

// hr
@hr-border-color: @border-color;

// Lists
@ul-style-level-1: disc;
@ul-style-level-2: circle;
@ul-style-level-3: square;

@ol-style-level-1: decimal;
@ol-style-level-2: lower-alpha;
@ol-style-level-3: lower-roman;