/* RESET */html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul,menu{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* NORMALIZE */article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block}audio,canvas,video{display:inline-block}audio:not([controls]){display:none;height:0}[hidden],template{display:none}html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}a{background:transparent}a:focus{outline:thin dotted}a:active,a:hover{outline:0}h1{font-size:2em;margin:0.67em 0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:bold}dfn{font-style:italic}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}mark{background:#ff0;color:#000}code,kbd,pre,samp{font-family:monospace,serif;font-size:1em}pre{white-space:pre-wrap}q{quotes:"\201C" "\201D" "\2018" "\2019"}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-0.5em}sub{bottom:-0.25em}img{border:0}svg:not(:root){overflow:hidden}figure{margin:0}fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em}legend{border:0;padding:0}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0}button,input{line-height:normal}button,select{text-transform:none}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;vertical-align:top}table{border-collapse:collapse;border-spacing:0}*:focus {outline: 0}/*RESET*/html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul,menu{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0} *, *:before, *:after {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}

/*******************************************/
body{
	overflow: hidden;
}

/* playground-index *********************/
#playground-index{
	position: fixed;z-index: 10000;
	top: 0;bottom: 0;left: -260px;width:260px;
	color: #EEE;
	background-color: #1F292D;
	font: 13px/1.3em sans-serif;
}

#playground-index-toggle{
	background-color: #1F292D;
	height:40px;width: 10px;
	position: absolute;
	top: 50%;right: -10px;
	margin-top: -20px;
	border-radius: 0 50% 50% 0;
	cursor: pointer;
}
#playground-index-toggle span{
	width: 0;height: 0;display: block;
	border-style: solid;
	border-width: 6px 5px;
	border-color: transparent #CCC transparent transparent;
	position: absolute;top: 50%;left: -4px;
	margin-top: -6px;
}
#playground-title{
	font-size: 20px;
	line-height: 1em;
	padding: 20px 0;
}

/* playground-index ***********/
.playground-list-li{
	overflow: hidden;
	max-height: 37px;
	background-color: #182023;
	-webkit-transition:max-height .3s;
	-ms-transition:max-height .3s;
	transition:max-height .3s;
}
.playground-list-li.open{
	max-height: 500px;
}

.playground-list-tit,
.playground-list-btn{
	line-height: 15px;
	padding: 10px 20px;
}
.playground-list-tit{
	border-top:1px solid #28353a;
	background-color: #1F292D;
	
	cursor: pointer;
}
.playground-list-li .fa{
	margin-right: 8px;
}
.playground-list-li .fa-caret-down,
.playground-list-li.open .fa-caret-right{display: none}
.playground-list-li.open .fa-caret-down{display: inline-block}

.playground-list-btn{
	padding-left: 45px;
	font-size: 11px;
}

/***********************/
.pg-input,
.pg-pre-input{
display: inline-block;
vertical-align: middle;
}
.pg-input{
	display: inline-block;
	width: 13px;height: 13px;
	border: 1px solid #666;
	color: #4DEE10;
	margin-right: 8px;
	cursor: pointer;
}
.pg-input .fa{
	position: relative;
	top: -2px;
}
.disabled .pg-input .fa{
	display: none
}
.disabled .pg-pre-input{
	opacity: .5;
}


/************************/
#playground-container{
	position: fixed;
	top: 0;left:0;right:0;bottom: 0;
	overflow: hidden;
	overflow-y: scroll;
}

.playground-collection-container{
	display: none;
}
.playground-collection-container.open{
	display: block;
}

/***********************************/
#playground-index.open{
	left: 0;
	box-shadow: 2px 0 6px rgba(0,0,0,.5);
	border-right: solid 1px #AAA;
}
#playground-container.open{
	left:260px;
}
#playground-index,#playground-container{
	-webkit-transition:left .2s;
	-ms-transition:left .2s;
	transition:left .2s;
}

/**************/
.playground-resource-container{
	min-height: 80px;
	padding-bottom: 10px;
}
.playground-resource-tab{
	font:11px/24px 'Arial', sans-serif;
	text-align: center;
	border-bottom:1px solid #DDD;
	padding: 6px 0 0;
	height: 30px;
	background-color: #FFF;
	margin-bottom: 10px;
}
.playground-resource-tab .playground-tab{
	display: inline-block;
	height: 24px;
	padding: 0 12px;
	border-style: solid;
	border-width: 1px;
	border-color: #DDD;
	background-color: #EEE;
	vertical-align: bottom;
	border-radius: 2px 2px 0 0;
	margin: 0 1px;
	cursor: pointer;
	color: #999;
	font-weight: bold;
}
.playground-resource-tab .playground-tab.current{
	border-color: #DDD #DDD #FFF #DDD;
	background-color: #FFF;
	cursor: default;
	color: #333;
}
.playground-resource-tab .playground-tab:hover{
	border-color: #DDD;
	color: #333;
}
.playground-resource-tab .playground-tab.current:hover{
	border-color: #DDD #DDD #FFF #DDD;
}
.playground-tab-content{
	display: none;
}
.playground-tab-content.current{
	display: block;
}

.playground-pre {
  font: 12px/1.3em monospace;
  background-color: #EEE;
  color: #111;
  padding: 10px;
  overflow: hidden;
  overflow-y: scroll;
  min-height: 80px;
  max-height: 600px;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
  border: 1px solid #CCC;
  margin: 0 auto;
  display: block;
  max-width: 900px;
}
